<mat-toolbar color="background">
    <div class="title" (click)="OpenNewsFeed()">
        <fa-icon [icon]="logo" size="lg"></fa-icon>
        <h1>Discourse</h1>
    </div>
    <div class="category-select">
        <button class="category-button" mat-raised-button [matMenuTriggerFor]="category">
            <span><fa-icon *ngIf="selectedCategory" class="category-icon" [icon]="selectedCategory?.icon"></fa-icon><span class="selected-category">{{selectedCategory?.name || "General"}}</span></span><fa-icon class="dropdown" [icon]="dropdown"></fa-icon>
        </button>
        <mat-menu #category> 
            <button class="menu-item" mat-menu-item *ngFor="let category of categories" (click)="ChangeCategory(category.name)">
                <fa-icon class="category-icon" [icon]="category.icon"></fa-icon>
                <span>{{category.name || 'General'}}</span>
            </button>
        </mat-menu>
    </div>
    <div class="search-bar">
        <mat-form-field color="accent" appearance="outline" class="w-100">
            <mat-label>Search</mat-label>
            <input matInput [formControl]="query">
        </mat-form-field>
    </div>
    <div class="user-profile" appClickElsewhere (clickElsewhere)="HideProfile()">
        <button class="user-icon" mat-icon-button (click)="ShowProfile()">
            <fa-icon [icon]="user"></fa-icon>
        </button>
        <mat-card class="profile" *ngIf="showingProfile">
            <div class="profile-info">
                <div class="display-picture-wrap">
                    <img [src]="LoggedInUser.displayPicture" *ngIf="LoggedInUser.displayPicture">
                </div>
            </div>
            <span class="username">{{LoggedInUser.username}}</span>
            <span class="score">Score: {{LoggedInUser.score}}</span>
            <div class="button-row">
                <button mat-menu-item (click)="HideProfile()" [routerLink]="['/profile']">Edit Profile</button>
                <button mat-menu-item (click)="SignOut()">Sign Out</button>
            </div>
        </mat-card>
    </div>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>