mat-card {
    margin: 20px;
}

.image-wrap {
    width: 100%;

    .image-main {
        width: 100%;
    }
}

.image-wrap-loading {
    height: 20vw;
    background-color: #6d6d6d;
}

.title {
    margin: 10px 0;
    font-size: 26px;
    color: white !important;
}

title:hover {
    text-decoration: underline;
    text-decoration-color: #69f0ae;
}

.title-loading {
    width: 100%;
    height: 62px;
    margin-top: 10px;
    background-color: #6d6d6d;
}

.source-loading {
    width: 30%;
    height: 24px;
    background-color: #6d6d6d;
}

.source {
    font-weight: 300;
    display: block;
}

.info-wrap {
    font-weight: 300;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;

    .timestamp-loading {
        height: 24px;
        width: 20%;
        background-color: #6d6d6d;
    }

    .details-loading {
        height: 24px;
        width: 30%;
        background-color: #6d6d6d;
    }

    .details {
        padding-right: 15px;

        .vote {
            padding: 0 10px;

            .vote-icon {
                display: inline-block;
                width: fit-content;

                fa-icon {
                    padding: 0 5px;
                    cursor: pointer;
                }
            }   

            .upvoted {
                color: #69f0ae;
            }

            .downvoted {
                color: #f44336;
            }
        }

        .reply-count {
            fa-icon {
                padding: 0 5px;
            }
        }
    }
}

.content-loading {
    margin-top: 10px;
    height: 96px;
    width: 100%;
    background-color: #6d6d6d;
}

@media(max-width: 1200px) {
    .image-wrap-loading {
        height: 60vw;
    }
}