mat-card {
    margin: 20px;
}

.image-wrap {
    width: 100%;

    .image-main {
        width: 100%;
    }
}

.image-wrap-taller {
    padding-top: 100%;
    position: relative;

    .image-main {
        top: 50%;
        z-index: 1;
        transform: translateY(-50%);
        position: absolute;
    }
}

.title {
    margin: 10px 0;
    font-size: 26px;
}

.source {
    font-weight: 300;
    display: block;
}

.info-wrap {
    font-weight: 300;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;

    .details {
        padding-right: 15px;

        .vote {
            padding: 0 10px;

            .vote-icon {
                display: inline-block;
                width: fit-content;

                fa-icon {
                    padding: 0 5px;
                    cursor: pointer;
                }
            }

            

            .upvoted {
                color: #69f0ae;
            }

            .downvoted {
                color: #f44336;
            }
        }

        .reply-count {
            fa-icon {
                padding: 0 5px;
            }
        }
    }
}
