<div class="thread-container" >
    <div class="article-container" *ngIf="Article">
        <app-article [Article]="Article"></app-article>
    </div>
    <div class="comment-container">
        <div class="comment-section">
            <mat-card>
                <span>This is a comment</span>
            </mat-card>
        </div>
        <div class="comment-form">
            <mat-card>
                <mat-form-field color="accent" floatLabel="auto" appearance="outline">
                    <mat-label>Leave a comment</mat-label>
                    <textarea ngModel ngDefaultControl matInput [formControl]="comment"></textarea>
                </mat-form-field>
                <div class="button-row">
                    <button class="submit" mat-button color="accent" (click)="Submit()">Submit</button>
                </div>
            </mat-card>
        </div>
    </div>
</div>