<div class="thread-container" >
    <div class="article-container" *ngIf="Article">
        <app-article [Article]="Article"></app-article>
    </div>
    <div class="comment-container">
        <div class="comment-section">
            <mat-card>
                <span>This is a comment</span>
            </mat-card>
        </div>
        <div class="comment-form">
            <mat-form-field floatLabel="auto">
                <mat-label>Leave a comment</mat-label>
                <input matInput >
              </mat-form-field>
        </div>
    </div>
</div>