<div class="thread-container" *ngIf="Thread">
    <div class="article-container">
        <app-article [Article]="Thread"></app-article>
    </div>
    <div class="comment-container">
        <div class="comment-section" >
            <div *ngFor="let comment of Thread?.comments">
                <app-comment [Comment]="comment"></app-comment>
            </div>
        </div>
        <div class="comment-form">
            <mat-card>
                <app-comment-form [replyingToID]="Thread.id" (refresh)="refreshComments($event)"></app-comment-form>
            </mat-card>
        </div>
    </div>
</div>