<mat-card class="article-item-container" [ngClass]="{'click': Article }" (click)="ViewArticle()">
    <div class="article-content" *ngIf="Article; else loadingPage">
        <div class="image-wrap" *ngIf="Article.urlToImage">
            <div class="fill-wrap">
                <img class="image-fill" [src]="Article.urlToImage">
            </div>
            <img class="image-main" [src]="Article.urlToImage">
        </div>
        <div class="markup">
            <h5>{{Article?.title}}</h5>
            <p class="content" [innerHTML]="Article?.content || Article?.description"></p>
        </div>
    </div>
</mat-card> 

<ng-template #loadingPage>
    <div class="article-content">
        <div class="image-wrap">
            <div class="image-filler"></div>
        </div>
        <div class="markup">
            <h5 class="title-loading"></h5>
            <p class="content-loading">

            </p>
        </div>
    </div>
</ng-template>