$image-dimensions: 140px;

.article-item-container {
    min-height: 190px;
    width: 100%;
    margin-bottom: 20px;
    
    
    .article-content {
        display: flex;

        .image-wrap {
            height: $image-dimensions;
            min-width: $image-dimensions;
            margin-right: 20px;
            position: relative;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-self: center;
            

            .fill-wrap {
                margin-left: 50%;
                transform: translateX(-50%);
                filter: blur(8px);
                position: absolute;

                .image-fill {
                    height: $image-dimensions;
                    overflow: hidden;
                }
            }
            
            .image-main {
                width: $image-dimensions;
                z-index: 1;
            }
        }

        .image-filler {
            height: 100%;
            width: 100%;
            background-color: #6d6d6d;
        }

        .markup {
            height: fit-content;
            width: 70%;

            .content {
                font-size: 14px;
            }

            .title-loading {
                min-height: 48px;
                width: 100%;
                background-color: #6d6d6d;
            }

            .content-loading {
                min-height: 84px;
                width: 100%;
                background-color: #6d6d6d;
            }
        }
    }
}

.click {
    cursor: pointer;
}