@import "../../../../node_modules/bootstrap/scss/bootstrap-grid.scss";

.register-container {
    height: 100%;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    fa-icon {
        font-size: 5vh;
        align-self: center;
        width: fit-content;
        margin-bottom: 4%;
    }

    h1 {
        margin-bottom: 5%;
        font-weight: 200;
        margin: 0;
        color: #69f0ae;
        align-self: center;
    }

    .heading {
        margin-top: 3%;
        margin-bottom: 10%;
        align-self: center;
    }
    
    .form-container {
        height: fit-content;
        width: 100%;
        display: flex;
        align-self: flex-end;
        flex-direction: column;
        align-content: flex-end;
        justify-content: space-evenly;

        .input-override {
            background-color: transparent !important;
        }

        .form-button {
            font-size: 18px;
        }

        span {
            align-self: center;
            margin-top: 2%;

            .create-link {
                color: #69f0ae;
            }
        }
    }
}

