<div class="register-container" *ngIf="!auth.loadingSignUp; else isLoading">
    <h1>Create Account</h1>
    <span class="heading">Just the essentials</span>
    <form [formGroup]="credentials" (ngSubmit)="onCreateUser()" class="form-container">
        <mat-form-field color="accent" appearance="fill" class="example-full-width">
            <mat-label>Username</mat-label>
            <input class="input-override" type="text" matInput formControlName="username">
            <mat-error *ngIf="Username.invalid">You must enter a value</mat-error>
        </mat-form-field>

        <mat-form-field color="accent" appearance="fill" class="example-full-width">
            <mat-label>Email</mat-label>
            <input class="input-override" type="email" matInput formControlName="email">
            <mat-error *ngIf="Email.invalid">{{ GetEmailErrorMessage() }}</mat-error>
        </mat-form-field>

        <mat-form-field color="accent" appearance="fill" class="example-full-width">
            <mat-label>Password</mat-label>
            <input class="input-override" [type]="hidden ? 'password' : 'text'" matInput formControlName="password">
            <button class="hideButton" type="button" mat-icon-button matSuffix (click)="hidden = !hidden">
                <fa-icon [icon]="hidePassword" *ngIf="hidden; else show"></fa-icon>
                <ng-template #show>
                  <fa-icon [icon]="showPassword"></fa-icon>
                </ng-template>
            </button>
            <mat-error *ngIf="Password.invalid">You must enter a value</mat-error>
        </mat-form-field>
  
        <button type="submit" class="form-button" mat-flat-button color="accent">Sign Up</button>
        <span>Have an account? <a class="create-link" [routerLink]="['../login']">Sign in</a></span>
    </form>
</div>
  
<ng-template #isLoading>
  <div class="loading-wrap">
    <div class="loading">
      <div class="loading-header">
        <fa-icon [icon]="logo"></fa-icon>
        <h1>Signing up</h1>
        You'll be redirected<br/>shortly
        <div class="spinner-wrap">
          <mat-spinner color="accent"></mat-spinner>
        </div>
      </div>
    </div>
  </div>
</ng-template>