.login-container {
    height: 100%;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .logo {
        font-size: 5vh;
        margin-bottom: 4%;
        align-self: center;
        width: fit-content;
        position: absolute;
        top: 35px;
    }

    h1 {
        font-weight: 200;
        margin: 0;
        color: #69f0ae;
        align-self: center;
        text-align: center;
    }

    span {
        align-self: center;
    }
    
    .form-container {
        height: 40%;
        width: 100%;
        margin-top: 20%;
        display: flex;
        align-self: flex-end;
        flex-direction: column;
        align-content: flex-end;
        justify-content: space-evenly;

        .input-override {
            background-color: transparent !important;
        }

        .hideButton {
            transform: translateY(-9px);
        }

        .form-button {
            font-size: 18px;
        }

        span {
            margin-top: 20px;

            .create-link {
                color: #69f0ae;
            }
        }
    }
}
.loading-wrap {
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
    .loading {
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        .loading-header {
            padding: 10% 40px 20px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
        
            fa-icon {
                font-size: 5vh;
                margin-bottom: 4%;
                align-self: center;
                width: fit-content;
            }
        
            h1 {
                font-weight: 200;
                margin: 0;
                color: #69f0ae;
            }

            .spinner-wrap {
                padding-top: 30px;
            }
        }    
    }
}

::ng-deep .mat-form-field-subscript-wrapper {
    margin: 0;
    padding-top: 4px !important;
}

@media (max-width: 960px) {
    .logo {
        display: none;
    }
}

