<div class="title-container">
    <h3>Trending</h3> 
    <div class="toggle-wrap">
        <span>
            Filters 
        </span>
        <mat-slide-toggle (change)="ToggleFilters()"></mat-slide-toggle>
    </div>
</div>
<div class="heading-container" *ngIf="showFilters">
    <mat-form-field appearance="fill" color="accent">
        <mat-label>Sort by</mat-label>
        <mat-select [formControl]="SortField" >
          <mat-option value="replyCount">
            Replies
          </mat-option>
          <mat-option value="score">
            Votes
          </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" color="accent">
        <mat-label>Sort from</mat-label>
        <mat-select [formControl]="SortRange" >
            <mat-option value="week">
            This Week
            </mat-option>
            <mat-option value="month">
            This Month
            </mat-option>
            <mat-option value="all">
            All time
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>

<mat-card class="trending-container">

    <hr class="divider">
    <div class="thread-list">
        <div class="list-wrap" *ngIf="Threads.length; else loadingPage">
            <div class="thread-item"  *ngFor="let thread of Threads" (click)="OpenThread(thread)">
                <span>{{thread?.title}}</span>
                <div class="info-wrap">
                    <span class="source">
                        - {{thread.source.name}}
                    </span>
                    <span>
                        <span class="detail"><fa-icon class="score" [icon]="votes" rotate="90"></fa-icon>{{thread?.score}}</span><span class="detail"><fa-icon [icon]="comments"></fa-icon>{{thread?.replyCount}}</span>
                    </span>
                </div>
                <hr>
            </div>
            <div class="button-wrap" *ngIf="Threads && !LoadFinished">
                <button class="load-more" mat-flat-button color="accent" (click)="LoadThreads(true)">Load More</button>
            </div>
        </div>
        <ng-template #loadingPage>
            <div class="list-wrap">
                <div class="thread-item thread-item-loading" *ngFor="let thread of loadingThreadsArray" (click)="OpenThread(thread)">
                    <div class="loading-title"></div>
                    <div class="info-wrap">
                        <div class="loading-source">

                        </div>
                        <div class="loading-detail">
                            <div class="source"></div>
                            <div class="votes"></div>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </ng-template>
    </div>
</mat-card>

