<mat-card class="trending-container">
    <h3>Trending</h3>
    <hr class="divider">
    <div class="thread-list">
        <div class="list-wrap" *ngIf="Threads.length; else loadingPage">
            <div class="thread-item"  *ngFor="let thread of Threads" (click)="OpenThread(thread)">
                <span>{{thread?.title}}</span>
                <div class="info-wrap">
                    <span class="source">
                        - {{thread.source.name}}
                    </span>
                    <span>
                        <span class="detail"><fa-icon class="score" [icon]="votes" rotate="90"></fa-icon>{{thread?.score}}</span><span class="detail"><fa-icon [icon]="comments"></fa-icon>{{thread?.replyCount}}</span>
                    </span>
                </div>
                <hr>
            </div>
            <div class="button-wrap" *ngIf="Threads && !LoadFinished">
                <button class="load-more" mat-flat-button color="accent" (click)="LoadThreads(10)">Load More</button>
            </div>
        </div>
        <ng-template #loadingPage>
            <div class="list-wrap">
                <div class="thread-item thread-item-loading" *ngFor="let thread of loadingThreadsArray" (click)="OpenThread(thread)">
                    <div class="loading-title"></div>
                    <div class="info-wrap">
                        <div class="loading-source">

                        </div>
                        <div class="loading-detail">
                            <div class="source"></div>
                            <div class="votes"></div>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </ng-template>
    </div>
</mat-card>

