.profile-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    mat-card {
        padding: 20px 20px 40px;
        width: fit-content;
        overflow-wrap: break-word;

        .top-row {
            display: flex;
            justify-content: space-between;

            h1 {
                margin: 0 5px;
            }

            .edit-profile {
                align-self: center;
                margin: 0 5px;
            }
        }
        
        hr {
            border-color: lightgray;
        }

        .profile-container {
            display: flex;
            flex-direction: row;

            .picture {
                display: flex;
                flex-direction: column;

                .display-picture-wrap {
                    height: 250px;
                    width: 250px;
                    border-radius: 50%;
                    border: 3px solid gray;
                    overflow: hidden;
                    position: relative;
                    align-self: center;
        
                    img {
                        width: 100%;
                        top: 50%;
                        transform: translateY(-50%);
                        position: absolute;
                        pointer-events: none;
                    }   
        
                    .hovered {
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        position: absolute;
                        pointer-events: none;
                    }
        
                    .display {
                        color: gray;
                    }
    
                    .image-placeholder {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        position: absolute;
                        pointer-events: none;
                    }
                }

                .image-text {
                    display: none;
                    text-align: center;
                }
            }

            
    
            .edit-image {
                right: 80px;
                top: 200px;
                position: absolute;
            }
    
            h2 {
                margin: 0;
            }
    
            .info-wrap {
                width: 350px;
                height: 270px;
                padding: 20px;
                align-self: flex-start;

                mat-form-field {
                    width: 100%;

                    textarea {
                        height: 50px;
                        resize: none
                    }
                }
                
                button {
                    width: 100%;
                }

                span, p {
                    font-size: 18px;
                    display: block;
                }
            }
        }

        .darken {
            filter: brightness(50%);
        }

        .updating-wrap {
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                display: flex;
                position: absolute;
                justify-content: center;
                align-items: center;

                .updating {
                    z-index: 1000;
                    height: fit-content;
                }
            }
    }
}

@media (max-width: 700px) {
    mat-card {
        width: 100% !important;

        .profile-container {
            flex-direction: column !important;
    
            .info-wrap {
                width: 100% !important;
                padding: 20px 20px 40px !important;
                align-self: initial !important;
                height: fit-content !important;
            }
    
            .image-text {
                display: inline !important;
            }
        }
    }
}