.profile-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .edit-profile-container {
        padding: 50px 20px;
        width: 450px;
        height: 70vh;
        display: flex;
        flex-direction: column;
        align-items: center;

        mat-card {
            width: 100%;
            height: 100%;
        }

        .display-picture-wrap {
            height: 250px;
            width: 250px;
            border-radius: 50%;
            border: 3px solid gray;
            overflow: hidden;
            position: relative;

            img {
                width: 100%;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }

        }
    }
}