<div class="filter">
    <mat-form-field appearance="fill" color="accent">
        <mat-label>Country</mat-label>
        <mat-select name="food" [formControl]="Country" >
          <mat-option *ngFor="let country of countries" id="country.code" [value]="country">
            {{country.name}}
          </mat-option>
        </mat-select>
        <!-- <mat-hint>{{c.value?.sound}}</mat-hint> -->
      </mat-form-field>
      
    <span >{{ArticlesResponse?.totalResults}} Results</span>
</div>
<div class="articles-container" *ngIf="!news.loading; else loading">
    <app-article-item  *ngFor="let article of ArticlesResponse?.articles" [Article]="article"></app-article-item>
</div>
<ng-template #loading>
    <h1>Loading...</h1>
</ng-template>