<div class="filter">
    <mat-form-field color="accent">
        <mat-label>Filters</mat-label>
        <mat-select>
            <mat-option selected="true">
                All Countries
            </mat-option>
        </mat-select>
    </mat-form-field>
    <span >{{ArticlesResponse?.totalResults}} Results</span>
</div>
<div class="articles-container" *ngIf="!news.loading">
    <app-article-item  *ngFor="let article of ArticlesResponse?.articles" [Article]="article"></app-article-item>
</div>
