.filter {
    padding: 20px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .filters {
        .page {
            margin-left: 10px;
            width: 70px;
        }
    }
    .results {
        mat-form-field {
            width: 70px;
        }
    }
}  

