.filter {
    padding: 20px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .filters {
        .page {
            margin-left: 10px;
            width: 70px;
        }
    }
    .results {
        mat-form-field {
            width: 70px;
        }
    }
}  

@media(max-width: 450px) {
    .filter {
        flex-direction: column;

        .filters {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            mat-form-field {
                min-width: 40px;
                flex-basis: 60%;
            }
        }
    }
}