.form-container {
    display: flex;

    mat-form-field {
        width: Calc(100% - 80px);;
        font-size: 14px;
        display: inline-block;
    }

    .button-wrap {
        padding: 0 0 20px 10px;
        height: fit-content;
        align-self: flex-end;
    }
    
}